.formcontato {

    background-color: var(--color-ter);
    padding: 4rem 2rem;
}

.formcontato__contacto {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    justify-content: space-between;
    position: relative;
}

.formcontato--esquerda {
    width: 45%;
    margin: auto;
    position: relative;
}

.formcontato__img {
    width: 80%;
    margin: auto;
    display: block;
}

.formcontato__text {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formcontato__title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.formcontato__subtext {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .3rem;
}

.formcontato__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.input {
    position: relative;
}

.formcontato__input,
.formcontato__textarea {
    padding: 1rem;
    width: 100%;
}

.validar-estado {
    position: absolute;
    font-size: 1rem;
    right: 0;
    color: var(--color-quinto);
    opacity: 0;
}

.incorrecto .validar-estado {
    opacity: 1;
}

.correcto .validar-estado {
    opacity: 1;
    color: green;
}

.formcontato__textarea {
    resize: none;
}

.formcontato__input:hover,
.formcontato__textarea:hover {
    border-bottom: 2px solid var(--color-quinto);
}

.formcontato__botao {
    width: 25%;
    padding: .8rem;
    color: var(--color-quinto);
    background-color: #fff;
    border: 1px solid var(--color-quinto);
    cursor: pointer;
}

.formcontato__botao:hover {
    color: #fff;
    background-color: var(--color-quinto);
    border: 1px solid var(--color-quinto);
}

/*button send*/
.contact__button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 13em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}



.contact__button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;

}

.contact__button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.contact__button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.contact__button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.contact__button:hover span {
    transform: translateX(20em);



}

.contact__button:active {
    transform: scale(0.95);
}

/**/
/* Variation of work by @mrhyddenn for Radios */


/* checkbox settings 👇 */

.ui-checkbox {
    --primary-color: #1677ff;
    --secondary-color: #fff;
    --primary-hover-color: #4096ff;
    /* checkbox */
    --checkbox-diameter: 20px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #d9d9d9;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    /* checkmark */
    --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.ui-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    border-radius: inherit;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
    border-color: var(--primary-color);
}

.ui-checkbox:checked {
    background: var(--primary-color);
    border-color: transparent;
}

.ui-checkbox:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
}

.correcto {
    opacity: 1;
    color: green;
}

.incorrecto {
    opacity: 1;
}

/**/

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}


@media (max-width:768px) {
    .formcontato {
        padding: 2rem;
    }

    .formcontato__contacto {
        padding-top: 0;
        display: flex;
        align-items: center;
    }

    .formcontato--esquerda {
        display: none;
    }

    .formcontato__text {
        width: 100%;
    }

    .contact__button {
        padding: 0.7em 4.5em;

    }

    .contact__button:hover span {
        transform: translateX(7em);



    }
}

@media (max-width:425px) {
    .formcontato__botao {
        width: 45%;
    }

}